<footer class="mt-2 justify-content-center flex-row card bg-dark dark text-white">
    <p class="pt-3">&copy; 2020 - Pré E-Commerce</p>
</footer>

</div>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>